@import 'variables';

.About {
	font-size: $primary-font;
	animation-delay: 2.0s;

	&__description {
		padding: 25px;
		line-height: 1.75;
		animation-delay: 2.0s;
	}
	&__email {
		text-decoration: underline;
	}

}
