@import 'variables';

.Footer {
	display: flex;
	justify-content: space-between;
	margin: 0px 0px 75px;
	font-size: 20px;		
	animation-delay: 1.5s;

	&__left, &__right {
		display: flex;
		flex-flow: column nowrap;
	}

	&__right {
		justify-content: flex-end;
	}

	&__item {
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0px;
		}
	}

	@media (min-width: $phone) {
		&__left {
			display: block;
			.Footer__item {
				margin-left: 25px;
				&:first-child {
					margin-left: 0px;
				}
			}
		}
		&__right {
			flex-flow: row nowrap;
			.Footer__item {
				margin-bottom: 0px;
				margin-left: 5px;
				&:first-child {
					margin-left: 0px;
				}
			}
		}
	}

	@media (min-width: $tablet) {
		margin: 100px 0px 25px
	}
}

.Footer.home {
	margin: 100px 0px 60px;
}

.Footer.about-page {
	margin: 100px 0px 15px;
}
