@import 'variables';

.Jumbo {
	margin: 68px 0px 140px;
	font-size: 58px;
	line-height: 58px;
	font-weight: 500;
	font-family: $jumbo-font-family;

	&__line {
		animation-delay: 1s;
	}

	@media (min-width: $phone) {
		margin: 100px 0px 140px;
		font-size: 58px;
		line-height: 58px;
	}

	@media (min-width: $tablet) {
		margin: 0px 0px;
		font-size: 120px;
		line-height: 120px;
		height: 93vh;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		&--secondary {
			font-size: 80px;
			line-height: 80px;
			padding-left: 25px;

		}
	}
}
