/* Palette */
$background: #FFFFFF;
$primary: #000000;
$primary-light: rgba(0, 0, 0, 0.5);

$background-alt: #3A3C83;
$primary-alt: #FF8181;
$primary-light-alt: rgba(255,129,129,0.5);

/* Breakpoints*/
$phone : 568px;
$tablet: 768px;

/* Font */
$primary-font: 18px;
$primary-font-family: 'Open Sans', sans-serif;
$jumbo-font-family: $primary-font-family;
